<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanandroid.module_user">

    <application>
        <meta-data
            android:name="com.wanandroid.module_user.base.UserApp"
            android:value="ApplicationDelegate" />
        <activity android:name=".ui.login.LoginActivity"/>
        <activity android:name=".ui.mine.UserInfoActivity"/>

    </application>

</manifest>