<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanandroid.module_user">

    <!--alone里的application需要指定icon和theme-->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/user_app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".ui.alone.AloneActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.mine.UserInfoActivity" />

        <meta-data
            android:name="com.wanandroid.module_user.base.UserApp"
            android:value="ApplicationDelegate" />

    </application>
</manifest>